#sidenav{
    width: 300px;
    background-color: black;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 130px 40px;
    transition: all .3s ease;
}
#sidenav.closed{
    left: -300px;
}
#sidenav .links a{
    display: block;
    font-size: 25px;
    color: rgb(177, 177, 177);
    text-decoration: none;
    margin-bottom: 30px;
}
#sidenav .links a:hover{
    color: white;
}
#sidenav #close{
    color: rgb(177, 177, 177);
    font-size: 50px;
    position: absolute;
    right: 20px;
    top:20px;
    cursor: pointer;
}
#sidenav #close:hover{
    color: white;
}